<div class="about-container">
    <section class="about-us-section">
      <h2>Acerca de Nosotros</h2>
      <p>
        En <strong>Cksoft DevSolutions</strong>, somos un equipo de profesionales apasionados por la tecnología y el
        desarrollo de software. Nos especializamos en crear soluciones tecnológicas innovadoras que ayudan a nuestros
        clientes a mejorar su eficiencia, optimizar procesos y alcanzar sus metas de negocio.
        <br><br>
        Con una combinación de experiencia técnica y un profundo conocimiento de las tendencias del mercado, estamos
        comprometidos con el desarrollo de aplicaciones personalizadas, plataformas web y sistemas integrados que
        transforman ideas en realidad. Creemos que la tecnología no solo debe resolver problemas, sino también abrir
        nuevas oportunidades para el crecimiento y la innovación.
        <br><br>
        Nuestro enfoque está centrado en entender las necesidades únicas de cada cliente y ofrecer soluciones a medida,
        impulsadas por las últimas herramientas y metodologías ágiles. En Cksoft DevSolutions, la satisfacción del cliente
        es nuestra prioridad, y trabajamos de la mano con ellos en cada paso del proceso, asegurándonos de entregar
        productos de alta calidad que superen sus expectativas.
        <br><br>
        Juntos, podemos transformar el futuro de tu negocio a través de la tecnología.
      </p>
      <img src="assets/img/team.jpg" alt="Nuestro equipo" style="width: 500px; height: auto;">
    </section>
  
    <section class="mission-vision-section">
      <div class="mission">
        <h3>Nuestra Misión</h3>
        <p>
          Brindar soluciones tecnológicas, innovadoras y de alta calidad que impulsan el crecimiento y éxito de nuestros
          clientes. Creemos firmemente en el poder transformador de la tecnología y trabajamos incansablemente para
          identificar y aprovechar las últimas tendencias y avances, con el fin de crear soluciones personalizadas que
          satisfagan las necesidades únicas de cada cliente. Nuestro compromiso es ser un socio confiable que acompaña a
          nuestros clientes en su camino hacia la eficiencia, la competitividad y la innovación, asegurando que, a través
          de nuestras soluciones, puedan alcanzar sus objetivos empresariales y superar cualquier desafío tecnológico que
          se presente.
        </p>
      </div>
      <div class="vision">
        <h3>Nuestra Visión</h3>
        <p>
          Ser líderes en el mercado de desarrollo de software, siendo una empresa destacada por nuestra capacidad de
          innovar y ofrecer soluciones de alta calidad que transformen la manera en que nuestros clientes operan y crecen.
          Aspiramos a ser reconocidos no solo por nuestro dominio técnico, sino también por nuestra cultura de
          colaboración y compromiso con la excelencia, brindando productos y servicios que superen las expectativas del
          mercado y contribuyan al avance de la tecnología a nivel mundial.
        </p>
      </div>
    </section>
    <br><br>
    <section class="team-section">
      <h2>Conoce a nuestro equipo</h2>
      <br><br>
      <div class="team-container">
        <div class="team-member">
          <img src="assets/img/gerente.jpeg" alt="Team Member 1">
          <h3>Camilo Bernal</h3>
          <p>Ingeniero de Sistemas</p>
        </div>
        <div class="team-member">
          <img src="assets/img/team-member1.jpg" alt="Team Member 2">
          <h3>Carla Hernández</h3>
          <p>Desarrolladora Full Stack</p>
        </div>
        <div class="team-member">
          <img src="assets/img/team-member2.jpg" alt="Team Member 3">
          <h3>Pablo Ramírez</h3>
          <p>Especialista en UX/UI</p>
        </div>
        <div class="team-member">
          <img src="assets/img/team-member3.jpg" alt="Team Member 4">
          <h3>Laura Martínez</h3>
          <p>Ingeniera de Software</p>
        </div>
      </div>
    </section>
  
  </div>
