<!-- Footer con logo, nombre de la empresa y redes sociales -->
<footer>
  <div class="footer-container">
    <div class="footer-logo">
      <img src="assets/img/DevSolutionsLogo.png" alt="Logo de Tu Empresa" />
      <span class="company-name">Cksoft Devsolutions</span>
    </div>
    <div class="footer-social">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>
  <p class="footer-copyright">&copy; 2024 Cksoft Devsolutions. Todos los derechos reservados.</p>
</footer>
