<header>
  <div class="container">
    <div class="logo">
      <img src="assets/img/DevSolutionsLogo.png" alt="Logo" class="logo-img">
      <h1>Cksoft DevSolutions</h1>
    </div>

    <!-- Icono de menú hamburguesa -->
    <div class="menu-toggle" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <!-- Menú de navegación -->
    <nav>
      <ul class="menu">
        <li><a href="home">Inicio</a></li>
        <li><a href="about">Sobre Nosotros</a></li>
        <li><a href="services">Servicios</a></li>
        <li><a href="contact">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>
