<!-- Navbar con logo -->
<header>
    <div class="container">
      <div class="logo">
        <img src="assets/img/DevSolutionsLogo.png" alt="Logo de la Empresa" class="logo-img"> <!-- Aquí pones la ruta de tu logo -->
        <h1>Cksoft Devsolutions</h1> <!-- Nombre de tu empresa -->
      </div>
      <nav>
        <ul class="menu">
          <li><a href="home">Inicio</a></li>
          <li><a href="about">Conócenos</a></li>
          <li><a href="services">Servicios</a></li>
          <li><a href="contact">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </header>
  