/* You can add global styles to this file, and also import other style files */
/* General */
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #f0f4f8;
  color: #1a1a1a;
}

/* El contenedor principal ocupará todo el espacio disponible */
main {
  flex: 1;
}